{% extends 'layouts/base.html' %}
{% load static %}
{% block title %}About us{% endblock %}
{% block styles %}
  <link rel="stylesheet" href="{% static 'css/aboutus.css' %}">
{% endblock %}
{% block content %}
<h2>Sobre Nosotros</h2>
<br>
<div class="container"> 
  <div class="card">
    <img src="{% static 'imgs/papus/kevin.png' %}" alt="compañero kevin">
    <h3>Kevin Nole</h3>
  </div>
  <div class="card">
    <img src="{% static 'imgs/papus/leonardo.jpg' %}" alt="compañero leonardo">
    <h3>Leonardo Espinoza</h3>
  </div>
  <div class="card">
    <img src="{% static 'imgs/papus/paccha.png' %}" alt="compañero paccha">
    <h3>David Paccha</h3>
  </div>
  <div class="card">
    <img src="{% static 'imgs/papus/cristian.png' %}" alt="compañero cristian">
    <h3>Cristian Tomalá</h3>
  </div>
  <div class="card">
    <img src="{% static 'imgs/papus/mateo.jpg' %}" alt="compañero mateo">
    <h3>Mateo Silva</h3>
  </div>
</div>
<div class="description">
  <p>Somos un equipo de estudiantes apasionados de la <a href="https://www.unl.edu.ec">Universidad Nacional de Loja</a>, dedicados a crear soluciones innovadoras para un mundo más limpio y eficiente.</p>

  <p>Nuestro proyecto se centra en el desarrollo de un brazo robótico recolector de basura, diseñado específicamente para abordar el desafío creciente de la gestión de residuos. Utilizando un ESP32-CAM, servomotores con Arduino IDE, hemos creado un prototipo totalmente funcional y operativo desde la distancia</p>

  <h4>¿Qué hace único a nuestro brazo robótico?</h4>

  <p><b>Tecnología Básica: </b>El ESP32-CAM, conocido por su capacidad de procesamiento y transmisión de imágenes, se convierte en el cerebro de nuestro sistema, permitiendo obtener un primer plano de la visión del brazo robótico</p>



  <p><b>Diseño Personalizable:</b> Cada componente, desde los servomotores hasta la estructura del brazo, ha sido seleccionado y ajustado para maximizar la eficiencia y adaptabilidad del recolector de basura. Nuestro diseño DIY permite a los entusiastas y a otros estudiantes replicar, modificar y mejorar el proyecto.</p>

  <p><b>Sostenibilidad en Acción:</b> Más allá de su capacidad para recoger basura de manera eficiente, nuestro proyecto busca inspirar a otros a pensar en soluciones tecnológicas que promuevan un entorno más limpio y saludable.</p>

  <h4>Nuestro Enfoque:</h4>

  <p>En TeleRobot, nos enfocamos en la integración de habilidades técnicas con un fuerte sentido de responsabilidad ambiental. Creemos que la tecnología no solo debe resolver problemas, sino también contribuir positivamente a nuestra comunidad y al medio ambiente. Cada miembro del equipo aporta conocimientos diversos en programación y diseño, trabajando juntos para llevar este innovador proyecto a su máxima expresión.</p>

  <h4>Visión Futura:</h4>

  <p>Nuestro objetivo es no solo perfeccionar nuestros conocimientos, sino también explorar nuevas aplicaciones y mejoras que puedan llevar la tecnología a un nivel superior. Estamos comprometidos con la colaboración abierta con otros investigadores, estudiantes y profesionales del sector.</p>
  <br>
  <br>
  <p>¡Gracias por acompañarnos en este emocionante viaje hacia un futuro más limpio y tecnológicamente avanzado!</p>
  <br>
  <br>
  <p><b>Atentamente,</b></p>
  <p>El equipo de TeleRobot</p>

</div>
{% endblock %}