{% extends 'layouts/base.html' %}
{% load static %}
{% block title %}About us{% endblock %}
{% block styles %}
  <link rel="stylesheet" href="{% static 'css/aboutus.css' %}">
{% endblock %}
{% block content %}
  <div class="card"></div>
  <h2>Sobre Nosotros</h2>
  <img src="{% static 'imgs/yo_y_los_papus.jpg' %}" alt="yo_y_los_papus">
  <p>Bienvenidos a [Nombre del Proyecto], un innovador esfuerzo dedicado a transformar la gestión de residuos a través de la tecnología y la sostenibilidad. Fundado en [año de fundación], nuestro proyecto se enfoca en el desarrollo y la implementación de un brazo robótico avanzado diseñado para mejorar la eficiencia en la separación y procesamiento de residuos.</p> 
    
  <p>En un mundo donde la gestión de residuos es un desafío creciente, nos hemos propuesto revolucionar el sector mediante soluciones inteligentes y automatizadas. Nuestro brazo robótico está diseñado para abordar problemas clave en la gestión de residuos, como la clasificación precisa de materiales, la reducción de la intervención humana y la maximización del reciclaje.</p>
    
  <p>Nuestro equipo de expertos en ingeniería, robótica y sostenibilidad trabaja con un compromiso firme hacia la creación de un impacto positivo en el medio ambiente. A través de la integración de tecnología de punta y prácticas sostenibles, buscamos no solo optimizar el manejo de residuos, sino también promover un futuro más limpio y eficiente para las generaciones venideras.</p>
  
  <p>En [Nombre del Proyecto], creemos que la innovación es la clave para enfrentar los desafíos ambientales actuales. Nuestro brazo robótico representa un avance significativo hacia una gestión de residuos más inteligente y efectiva, con el objetivo de reducir el impacto ambiental y fomentar la economía circular.</p>
  
  <p>Estamos emocionados de compartir nuestra visión y nuestros avances contigo. Te invitamos a descubrir cómo nuestro proyecto puede contribuir a una gestión de residuos más sostenible y eficiente. Para más información o para colaborar con nosotros en esta misión crucial, no dudes en [menciona cómo pueden contactarte: "ponerte en contacto con nosotros", "enviarnos un correo electrónico", "visitar nuestro sitio web", etc.].</p>
  
  <p>Gracias por unirte a nosotros en la búsqueda de soluciones innovadoras para un futuro más verde.</p>
{% endblock %}