{% extends 'layouts/base.html' %}
{% load static %}
{% block title %}About us{% endblock %}
{% block styles %}
  <link rel="stylesheet" href="{% static 'css/aboutus.css' %}">
{% endblock %}
{% block content %}
  <div class="card"></div>
  <h2>Sobre Nosotros</h2>
  <div class="card">
    <h3>Kevin Nole</h3>
  </div>
  <div class="card">
    <h3>Leonardo Espinoza</h3>
  </div>
  <div class="card">
    <h3>David Paccha</h3>
  </div>
  <div class="card">
    <h3>Cristian Tomalá</h3>
  </div>
  <div class="card">
    <h3>Mateo Silva</h3>
  </div>
{% endblock %}